<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:insert="fragments/head">
</head>
<body>
<header th:insert="fragments/header"></header>

<main>
    <div class="container">
        <h3 class="center">Awesome</h3>
        <br>
        <div class="row">
            <div class="section col s12 l6 offset-l3">
                <form action="#" method="POST"
                th:object="${profesor}"
                      th:action="@{/tuteurs/get_auteur_priv}"
                >

                   

                               
                           
    

     <div th:if="${isexsist}">
            <blockquote>
                  You are already a teacher
           </blockquote>
                    <a th:href="@{/tuteurs}" class="btn red lighten-1">go Back</a>
    </div>
    
     <div th:if="${isnotexsist}">
            <blockquote>
                                You are one click away to become the best teacher on our platform
           </blockquote>
                  <div class="input-field">
                        <label for="descripcion_profesor">Specialty</label>
                        <input type="text" class="class-controller"
                               id="descripcion_profesor"
                               th:field="*{description}" required
                        >
                    </div>
                    <button type="submit" class="btn">
                        Confirm
                    </button>
                    <a th:href="@{/tuteurs}" class="btn red lighten-1">Cancel</a>
    </div>




                </form>
            </div>
        </div>
    </div>
</main>
<br><br>
<footer class="page-footer teal" th:insert="fragments/footer">

</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>
</body>
</html>